/* 

-- Resets

*/

ul {
    list-style-type: none;
}

.tasks {
    margin-top: 5rem;
    background-color: #09BEAD;
    border-radius: 1rem;
    padding: 1rem;
    color: #fff;
    text-align: center;
}

.tasks-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-head__title {}

.tasks-head__select {
    outline: none;
    border: none;
    background-color: #F57F17;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 100ms ease-in;
    box-shadow: 0 1.5rem 4rem rgba(245, 127, 23, 24%);
}

.tasks-head__select:hover {
    background-color: #fff;
    color: #F57F17;
    outline: .2rem solid #F57F17;
}

.tasks-list {
    padding: 0;
}

@media (max-width: 576px) {
    .tasks-head__title {
        font-size: 1.6rem;
    }

    .tasks-head__select {
        padding: 0.7rem 1rem;
        font-size: 0.9rem;
    }
}