.task {
    background-color: #F57F17;
    margin: 0;
    margin-top: 1rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    position: relative;
}

.edit__btn {
    width: 3rem;
    height: 50%;
    background-color: #09BEAD;
    position: absolute;
    top: 0;
    bottom: 0;
    left: .3rem;
    margin: auto;
    border-radius: .5rem;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
    transition: all 100ms ease-in;
}

.edit__btn:hover {
    background-color: #fff;
    outline: .2rem solid #09BEAD;
}

.edit__btn:hover svg {
    fill: #09BEAD;
}

.task-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

.task__title {
    margin: 0;
    max-width: 50%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.task-head__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.task__select,
.del-task__btn {
    outline: none;
    border: none;
    background-color: #09BEAD;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 100ms ease-in;
    box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
    white-space: nowrap;
}

.task__select:hover,
.del-task__btn:hover {
    background-color: #fff;
    color: #09BEAD;
    outline: .2rem solid #09BEAD;
}

.task__des {
    text-align: start;
    margin: 0;
    padding-left: 1rem;
}

@media (max-width: 600px) {

    .edit__btn {
        height: 40%;
        width: 2.5rem;
    }

    .task__title {
        font-size: 1.2rem;
        align-self: flex-start;
        margin-top: 1rem;
    }

    .task__select,
    .del-task__btn {
        padding: 0.7rem 1rem;
        font-size: 0.9rem;
    }

    .task__des {
        font-size: 0.9rem;
    }

    .task::before {
        width: 1rem;
    }
}

@media (max-width: 400px) {
    .task {
        padding: 0.7rem 1rem;
    }

    .task__title {
        max-width: none;
        text-overflow: unset;
        overflow: auto;
        text-wrap: unset;
    }

    .edit__btn {
        width: 2rem;
        height: 35%;
        left: .2rem;
        bottom: -6rem;
    }

    .task-head {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0.5rem;
        padding-left: 0.5rem;
    }

    .task__title {
        font-size: 1rem;
        margin-left: 1.5rem;
    }

    .task-head__controls {
        flex-direction: column-reverse;
        align-items: stretch;
        width: 100%;
        gap: 0.4rem;
    }

    .task__select,
    .del-task__btn {
        width: 100%;
        font-size: 0.8rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .task__des {
        font-size: 0.8rem;
        padding-left: 0.5rem;
        line-height: 1.4;
        margin-left: 1.5rem;

    }
}