/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit
}


body {
    font-family: "Poppins";
    font-size: 1.6rem;
    line-height: 1.6;
}